{{ $asin := .Get 0 }}
{{ $dataJ := getJSON ( printf ( print ( getenv "AMAZON_API" ) "?asin=%s" ) $asin ) }}
{{ with $dataJ }}
<div class="grid-container appbox">
	<div class="grid-x grid-margin-x">
		<div class="cell small-2">
			<a href="{{ .Item.DetailPageURL }}" target="_blank"><img class="thumbnail" src="{{ .Item.LargeImage.URL }}"></a>
		</div>
		<div class="cell auto">
			<div>
				<a href="{{ .Item.DetailPageURL }}" target="_blank">
					<span class="h4">{{ .Item.ItemAttributes.Title }}</span>
				</a>
			</div>

			<ul class="no-bullet">
				<li>販売元:&nbsp;{{ .Item.ItemAttributes.Publisher }}</a></li>
				<li>価格:&nbsp;{{ .Item.Offers.Offer.OfferListing.Price.FormattedPrice }}</li>
			</ul>
		</div>
	</div>
</div>
{{ end }}