<nav class="pagination is-rounded  is-centered" role="navigation" aria-label="pagination">

	{{ $pag := $.Paginator }}
	{{ if gt $pag.TotalPages 1 }}

	<ul class="pagination-list">
		{{ if $pag.HasPrev }}
		<li><a class="pagination-previous has-text-weight-bold" href="{{ $pag.Prev.URL }}">Newer Posts</a></li>
		{{ end }}
		<li><a class="pagination-link button has-text-weight-bold is-primary">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</a></li>
		{{ if $pag.HasNext }}
		<li><a class="pagination-next has-text-weight-bold" href="{{ $pag.Next.URL }}">Older Posts</a></li>
		{{ end }}
	</ul>

	{{ end }}
</nav>
