<a href="https://twitter.com/intent/tweet?text={{ .Title  | safeJS }}%20%7C%20{{ .Site.Title | safeJS }}%20{{ .Permalink | safeJS }}"
  onclick="window.open(this.href, 'twitter-share', 'width=580, height=296'); return false;" title="Share on Twitter"
  aria-label="Share on Twitter" tabindex="-1" class="social-share">
  <i class="fab fa-twitter"></i>
</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}"
  onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;" title="Share on Facebook"
  aria-label="Share on Facebook" tabindex="-1" class="social-share">
  <i class="fab fa-facebook"></i>
</a>
<a href="https://getpocket.com/save?url={{ .Permalink | safeJS }}"
  onclick="window.open(this.href, 'hatena-share', 'width=580, height=296'); return false;" title="Save Pocket"
  aria-label="Save Pocket" tabindex="-1" class="social-share">
  <i class="fab fa-get-pocket"></i>
</a>