<nav class="pagination is-centered" role="navigation" aria-label="pagination">

	{{ $pag := $.Paginator }}
	{{ if gt $pag.TotalPages 1 }}

	{{ if $pag.HasPrev }}
	<a href="{{ $pag.Prev.URL }}" class="pagination-previous">前へ</a>
	{{ else }}
	<a href="" class="pagination-previous" disabled>前へ</a>
	{{ end }}

	{{ if $pag.HasNext }}
	<a href="{{ $pag.Next.URL }}" class="pagination-next">次へ</a>
	{{ else }}
	<a href="" class="pagination-next" disabled>次へ</a>
	{{ end }}

	<ul class="pagination-list">

		{{/*番号*/}}
		{{ range $pag.Pagers }}
		{{/*  {{ range first 3 $pag.Pagers }}  */}}
		<li>
			<a href="{{ .URL }}" class="pagination-link{{ if eq . $pag }} is-current{{ end }}">{{ .PageNumber }}</a>
		</li>
		{{ end }}

	</ul>

	{{ end }}
</nav>
