<nav aria-label="Pagination" class="cell small-12 align-center-middle text-center">

	{{ $pag := $.Paginator }}
	{{ if gt $pag.TotalPages 1 }}
	<ul class="pagination">

		<li class="pagination-previous {{ if not $pag.HasPrev }} disabled {{ end }}">
			{{ if $pag.HasPrev }}
			<a href="{{ $pag.Prev.URL }}" aria-label="Previous">
				前へ <span class="show-for-sr">page</span>
			</a>
			{{ else }}
				<span aria-label="Previous">前へ <span class="show-for-sr">page</span></span>
			{{ end }}
		</li>

		{{/*番号*/}}
		{{ range $pag.Pagers }}
		{{/*  {{ range first 3 $pag.Pagers }}  */}}
		<li {{ if eq . $pag }} class="current" {{ end }}>
			<a href="{{ .URL }}">{{ .PageNumber }}</a>
		</li>
		{{ end }}

		{{/*次ページ*/}}
		<li  class="pagination-next {{ if not $pag.HasNext }} disabled {{ end }}">
			{{ if $pag.HasNext }}
			<a href="{{ $pag.Next.URL }}" aria-label="Next">
				次へ <span class="show-for-sr">page</span>
			</a>
			{{ else }}
				<span aria-label="Next">次へ <span class="show-for-sr">page</span></span>
			{{ end }}
		</li>

	</ul>
	{{ end }}
</nav>
