<div class="content">
	<div class="is-size-4 has-text-weight-bold">シェア</div>
	<a
		class="button"
		href="https://twitter.com/intent/tweet?text={{ .Title  | safeJS }}%20%7C%20{{ .Site.Title | safeJS }}%20{{ .Permalink | safeJS }}"
	>
		<span class="icon">
			<i class="fab fa-twitter"></i>
		</span>
		<span>Twitter</span>
	</a>
	<a
		class="button"
		href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}"
	>
		<span class="icon">
			<i class="fab fa-facebook"></i>
		</span>
		<span>Facebook</span>
	</a>
	<a
		class="button"
		href="https://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}"
	>
		<span class="icon has-text-weight-bold">B!</span>
		<span>はてブ</span>
	</a>
</div>
