// Variables
$spacing: 0.8rem;
$white: #fff;
$black: #000;
$radius: 4px;
$grey-lighter: #dbdbdb;

.post-card a {
  transition: color 0.2s ease;
  color: $black;
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
}

// Global classes
.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.posts {
  padding: 2 * $spacing $spacing;
}

// Post Card
.post-card {
  position: relative;
  border-radius: $radius;

  &.bottom-border:after {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    height: 1px;
    background-color: $grey-lighter;
  }

  &.has-border {
    padding: $spacing;
    border: 1px solid $grey-lighter;

    &.bottom-border:after {
      display: none;
    }

    .level {
      margin-bottom: 0;
    }
  }

  .item-link {
    display: block;
    position: relative;
  }

  .item-title {
    margin-bottom: 1rem;
  }

  .item-description {
    margin-bottom: $spacing;
  }

  .item-tags {
    margin-bottom: $spacing;
  }

  .level {
    display: flex;
    margin-bottom: $spacing;

    &-right {
      margin-top: 0;
    }
  }
}

// Pagination
.pagination {
  margin: 2 * $spacing auto;

  &-link {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

// Post
.post,
.page {
  padding-top: 2 * $spacing;
}

.social-share-sticky {
  position: sticky;
  top: 20vh;
}

.social-share__icon {
  margin-top: 8px;
  margin-right: 34px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #aaa;
  font-size: 18px;
  cursor: pointer;
}

.social-share__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.social-share__footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.gist .file {
  display: inherit !important;
}

.content {
  a {
    font-weight: 700;
  }

  ul {
    margin-left: 0;
  }

  pre {
    position: relative;
  }
  .copy-button {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
