{{ define "description"}}
<meta name="description" content="{{ .Title }}に関連する記事一覧です。">
{{ end }}

{{ define "main" }}

<div class="container">

	<div class="column is-full">
		<nav class="breadcrumb" aria-label="breadcrumbs">
			<ul>
				<li><a href="{{ .Site.BaseURL }}">Home</a></li>
				<li class="is-active">
					<a href="#" aria-current="page">{{ .Title }}</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="column is-full article-list">
		{{ range .Paginator.Pages }}
		{{ .Render "li" }}
		{{ end }}
	</div>

	{{/* pagination */}}
	<div class="column is-full">
		{{ partial "pagination.html" . }}
	</div>

</div>
{{ end }}