{{ define "header" }}
{{/* We can override any block in the baseof file be defining it in the template */}}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "header-description" }}
<meta name="description" content="{{ .Summary }}...">
<meta property="og:description" content="{{ .Summary }}...">
<meta name="twitter:description" content="{{ .Summary }}...">
<meta property="og:type" content="article">
<meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
{{ range .Params.tags }}<meta property="og:article:tag" content="{{ . }}" />{{ end }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
<meta name="twitter:creator" content="@{{ .Site.Params.twitter }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:url" content="{{ .Permalink }}">
{{ end }}

{{ define "header-image" }}
{{ $eyecatch_image := findRE "<img.*?src=([^>]*)?>" .Content 1 }}
{{ range $eyecatch_image }}
<meta property="og:image" content="https:{{ . | replaceRE ".*src=\"([^\"]+)\".*" "$1" | absURL }}">
<meta property="twitter:image" content="https:{{ . | replaceRE ".*src=\"([^\"]+)\".*" "$1" | absURL }}">
{{ end }}
{{ end }}



{{ define "main" }}
<article class="grid-x grid-margin-x">

	<header class="cell small-12" style="margin-top: 1rem;margin-bottom: 3rem;">

		<h1>
			{{- .Title -}}
		</h1>

		<span style="color:gray;">
			<i class="far fa-clock"></i>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
				{{- .Date.Format "2006.01.02 15:04:05" -}}
			</time>
		</span>

		{{ if .Params.categories }}
		<span>
			<i class="fas fa-pencil-alt"></i>
			{{ range .Params.categories }}
			<a class="article-list_label" href="/categories/{{ . | urlize }}">{{- . -}}</a>
			{{ end }}
		</span>
		{{ end }}

		{{ if .Params.tags }}
		<span>
			<i class="fas fa-tag"></i>
			{{ range .Params.tags }}
			<a class="article-list_label" href="/tags/{{ . | urlize }}">{{- . -}}</a>
			{{ end }}
		</span>
		{{ end }}

	</header>

	<div id="main" class="cell medium-8">

		{{- .Content -}}

		<div id="article-share" class="expanded button-group" style="margin-top: 1rem;margin-bottom: 3rem;">
			<a class="hollow button" href="http://twitter.com/intent/tweet?text={{ .Title  | safeJS }}%20%7C%20{{ .Site.Title | safeJS }}%20{{ .Permalink | safeJS }}">
				<i class="fab fa-twitter"></i>
				Twitter
			</a>
			<a class="hollow button" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | safeJS }}">
				<i class="fab fa-facebook"></i>
				Facebook
			</a>
			<a class="hollow button" href="http://b.hatena.ne.jp/entry/{{ .Permalink | safeJS }}">
				<span class="font-bold">B!</span>
				はてブ
			</a>
		</div>

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-format="autorelaxed"
			 data-ad-client="ca-pub-6552469721930483"
			 data-ad-slot="9449173286"></ins>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<div class="article-comment">
			{{ template "_internal/disqus.html" . }}
		</div>

		<div id="pagination-container" class="grid-container" style="margin-top: 1rem;margin-bottom: 3rem;">
			<div id="pagination" class="grid-x grid-padding-x grid-margin-x">
				<div id="prev-article" class="cell small-6">
					{{ with .PrevInSection }}
					<i class="fas fa-angle-left"></i>
					<a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
					{{ end }}
				</div><!-- prev-article -->
				<div id="next-article" class="cell small-6">
					{{ with .NextInSection }}
					<i class="fas fa-angle-right"></i>
					<a class="next" href="{{.Permalink}}"> {{.Title}}</a>
					{{ end }}
				</div><!-- next-article -->
			</div><!-- pagination -->
		</div><!-- pagination-container -->

	</div><!-- main -->

	<aside id="sidebar" class="cell auto hide-for-small-only">
		{{- partial "toc.html" . -}}
		{{/*  {{- partial "menu-contextual.html" . -}}  */}}
	</aside><!-- sidebar -->

</article>
{{ end }}