{{ define "main" }}

<div id="main" class="grid-x grid-margin-x">

	<div class="cell small-12 align-center-middle text-center">
		<ul class="breadcrumbs">
			<li><a href="{{ .Site.BaseURL }}">Home</a></li>
			<li>
				<span class="show-for-sr">Current: </span> {{ .Title }}
			</li>
		</ul>
	</div>

	<div class="cell small-12 article-list">

		{{ range .Paginator.Pages }}
		{{ .Render "li" }}
		{{ end }}

	</div>

	{{/* pagination */}}
	{{/* {{ template "_internal/pagination.html" . }} */}}
	{{ partial "pagination.html" . }}

</div>
{{ end }}